.controller-container
    position: fixed
    bottom: 1rem
    left: 1rem
    width: auto
    border-radius: 10px
    padding: 0.5rem
    color: #fff
    text-align: center
    text-transform: uppercase
    background: red

.controller-container.connected
    background: green