#hera
    height: 100vh
    width: 100%

    background-color: var(--colors-bg--500)
    background-image: radial-gradient( ellipse at 33% 10%, #461616 0%, transparent 75% )
    background-repeat: no-repeat
    color: var(--colors-on_bg--500)
    font-family: var(--fonts-primary)
    font-size: 100%
    line-height: 1.4
    margin: 0

    // display: grid
    // grid-template-columns: 1fr
    // grid-template-rows: 3rem auto minmax(1rem, 30px)
    // grid-column-gap: 0px
    // grid-row-gap: 0px

    .header
        padding: 0 1rem
    //     grid-area: 1 / 1 / 2 / 2

    .container
        padding-top: 1rem
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 0px
        grid-row-gap: 0px

        +breakpoint(medium)
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 1fr

        .left-panel
            grid-area: 2 / 1 / 3 / 2
            +breakpoint(medium)
                grid-area: 1 / 1 / 2 / 2

        .center-panel
            grid-area: 1 / 1 / 2 / 3
            margin-top: 10px
            +breakpoint(medium)
                margin-top: 0
                grid-area: 1 / 2 / 2 / 3

        .right-panel
            grid-area: 2 / 2 / 3 / 3
            +breakpoint(medium)
                grid-area: 1 / 3 / 2 / 4

        .buttons-parent
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(3, 1fr)
            grid-column-gap: 0px
            grid-row-gap: 0px

            .button1
                grid-area: 1 / 1 / 2 / 2
            .button2
                grid-area: 1 / 2 / 2 / 3
            .button3
                grid-area: 1 / 3 / 2 / 4
            .button4
                grid-area: 2 / 1 / 3 / 2
            .button5
                grid-area: 2 / 2 / 3 / 3
            .button6
                grid-area: 2 / 3 / 3 / 4
            .button7
                grid-area: 3 / 1 / 4 / 2
            .button8
                grid-area: 3 / 2 / 4 / 3
            .button9
                grid-area: 3 / 3 / 4 / 4

    .container-full
        margin: 1rem

    .footer
        // grid-area: 3 / 1 / 4 / 2

.uk-navbar-nav > li > a,
.uk-navbar-item, .uk-navbar-toggle
    min-height: 40px
